@import "tailwindcss";
@plugin "daisyui";

:root {
  --background: #000;
  --bodyText: #000;
  --color-primary: #fff;
}

@theme inline {
  --color-background: var(--background);
  --body-text: var(--bodyText);
  --primary: var(--color-primary);
}

body {
  height: 100%;
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
